body{
    font-family: arial, sans-serif;
    background-color: #ccc;
    margin: 0;
}
.hero{
    background-image: url(../foto/bg-3.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
}
.hero-content{
    text-align: center;
    color: white;
    margin-top: 150px;

}
.hero-content h1{
    text-transform: uppercase;
    font-size: 46px;
    text-shadow: 3px 3px 2px #333;
}
main{
    width: 80%;
    margin: auto;
}
.content-section{
    background-color: white;
    padding: 15px;
    margin-top: 15px;
}
.hero-3 h2{
    background-color: #ccc;
    border-bottom: solid 2px #333;
    padding: 7px;
}
.rodape{
    background-color: #333;
    text-align: center;
    color: white;
    height: 80px;
    line-height: 80px;
    text-shadow: 3px 3px 2px blueviolet;
}